{% extends 'base.html' %}
{% load static %}
{% block title %} Sweet {% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/posts.css' %}">
{% endblock %}

{% block bodybg %}
    main{
    background-image: url("{% static 'images/backgrounds/sweetbg.jpg' %}");
    background-repeat: no-repeat;
    width: 100%;
    background-size:cover;
    margin-top: 70px;
    background-attachment:fixed ;
    min-height:100vh;
}

{% endblock %}

{% block navbar %} {% include 'partials/navbar-2.html' %} {% endblock %}

{% block main %}
   <div class="container pt-3">
        <span id="_title"><h3 class="text-center">Sweet Recipes</h3><hr></span>

        {% for blog in sweet %}
            {% include 'partials/sweet/_sweet.html' %}
        {% endfor %}
    </div>

    <div style="height: 150px"></div>
{% endblock %}

